@import 'global';

$box-margin: $global-screen-padding;
$textbox-opacity: 0.8;
$text-padding-bottom: 15px;
$title-vertical-padding: 10px;
$inner-text-padding: $border-radius/6.19;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
}

.ContentContainer {
    font-family: $font;
    display: block;
    background-size: cover;
    width: 100%;
}

.TextBox {
    border-radius: $border-radius 0px 0px $border-radius;
    min-height: 120px;
    
    margin: 0px 0px 0px $box-margin;
    padding: 4px $text-margin 16px $text-margin - $box-margin;
    
    background-color: $white-background;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;
    padding: $inner-text-padding 0px;
    
    h1 {
        margin: 0px;
        padding: $title-vertical-padding 0px;
        font-size: $h1-font-size;
    }

    p {
        text-align: justify;
        font-size: $text-font-size;
        line-height: 1.33;
        margin: 16px 0px;
        vertical-align: middle;
    }
}
