
//cores do GAPsi
$gapsi-blue: #40b8ac;
$gapsi-purple: #8358a1;
$gapsi-purple-light: #8358a1;
$gapsi-purple-dark: #4b0082ff;

//cores do APOIA
$apoia-blue-light: #64c4d2;
$apoia-blue: #1094ab;
$apoia-orange: #fcb421;
$apoia-red: #e16561;

$color1: #829fd9;
$color2: #647B98;
$color3: #EFA748;
$color4: #8c8303;
$color5: #594302;
$gray: #CDC4BB;
$gray2: #CDC4BB;
$text-dark: black;
$white: white;
$white-background: #F9F9F9;

$main-blue: $apoia-blue;
$light-blue: $apoia-blue-light;
$main-orange: $apoia-orange;
$light-orange: $apoia-orange;
$main-grey: $gray;
$light-grey: $gray;

$font-color-dark: #212121;
$font-color-light: $white-background;
$link-font-color: black;

$header-background-color: $color3;
$header-text-color: $white;
$default-chatbox: $color2;
$client-chatbox: $color3;
$chatbox-text-color: $white;
$background-chat: $white;


$input-text-color: $gray;
$chat-input-blackground: $white;
$chat-internal-blackground: $gray2;

$font1: Roboto, sans-serif;

$default-font-size: 16px;
$global-screen-padding: 4%;
$text-margin: $global-screen-padding + 4%;
$border-radius: 35px;
$h1-font-size: 22px;
$h2-font-size: 16px;
$text-font-size: 16px;
$small-font-size: 14px;

.container {
    font-family: $font1;
}
@use 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

$blue: #647B98;
$orange: #EFA748;
$orange-background: #ffd874;
$white-background: white;

$font: Roboto, sans-serif;

:export {
    BackgroundWhite: $white-background;
    MainBlue: $main-blue;
    LightBlue: $light-blue;
    MainOrange: $main-orange;
    LightOrange: $light-orange;
    MainGrey: $main-grey;
    LightGrey: $light-grey;
    Font: $font;
    FontColorDark: $font-color-dark;
    FontColorLight: $font-color-light;
    ApoiaRed: $apoia-red;
    ApoiaOrange: $apoia-orange;
    ApoiaBlue: $apoia-blue;
    ApoiaBlueLight: $apoia-blue-light;
}

$header-font-size: 10px;
$nav-height: 40px;
