@import 'global';

$text-margin: 25px;
$box-margin: 10px;
$textbox-opacity: 0.8;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
    Blue: $main-blue;
    Orange: $orange;
}

.ContentContainer {
    font-family: $font;
    display: block;
    background-size: cover;
    padding-bottom: 20px;
    padding-left: 40px;
}

.TextBox {
    border-radius: 50px 0px 0px 50px;
    
    margin-left: $box-margin;
    padding-bottom: 5px;
    padding-left: $text-margin;
    padding-right: $text-margin;

    background-color: $main-blue;
    cursor: pointer;

    &:hover {
        background-color: darken($main-blue, 5);
    }
}

.ChatBotContainer{
    @extend .ContentContainer;
    margin-top: 100px;
    padding-left: 0;
    padding-right: 40px;
    
}

.ChatBotTextBox{
    @extend .TextBox;
    border-radius: 0px 50px 50px 0px;
    margin-left: 0;
    padding-right: 40px;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;
    font-size: $h1-font-size;
    color: white;

    h2 {
        padding-top: 5px;
        margin: 0;
    }
    p {
        text-align: justify;
    }
}