@import 'global';

$text-margin: 25px;
$box-margin: 10px;
$textbox-opacity: 0.8;

:export {
    TextBoxOpacity: $textbox-opacity;
    BackgroundWhite: $white-background;
}

.OptionContainer {
    font-family: $font;
    display: block;
    background-size: cover;
    margin-bottom: 12px;
    padding-left: 24px;

    transition: padding-left .1s ease;

    &:hover {
        padding-left: 0;
    }
}

.TextBox {
    border-radius: 50px 0px 0px 50px;
    
    margin-left: $box-margin;
    padding-bottom: 5px;
    padding-left: $text-margin;
    padding-right: $text-margin;
    
    cursor: pointer;
}

.ChatBotContainer{
    @extend .OptionContainer;
    margin-top: 100px;
    padding-left: 0;
    padding-right: 40px;
    
}

.ChatBotTextBox{
    @extend .TextBox;
    border-radius: 0px 50px 50px 0px;
    margin-left: 0;
    padding-right: 40px;
}

.Text {
    display: block;
    text-align: center;
    font-family: $font;
    font-size: $h1-font-size;
    color: white;

    h2 {
        padding-top: 5px;
        margin: 0;
    }
    p {
        text-align: justify;
    }
}